.benefits {
  padding: 0px 0px 120px 0px;
}

.benefits__header {
  padding-bottom: 50px;
}

.benefits__title {
  padding-top: 80px;
}

.benefits__subtitle {
  padding: 50px 0px;
}

.benefits__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.benefits__item {
  flex: 1 1 250px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  padding: 40px 20px 40px 0px;
}

.benefits__icon {
  padding-bottom: 24px;
}

.benefits__item-title {
  padding-bottom: 20px;
}

.benefits__images {
  display: flex;
  justify-content: center;
}

.benefits__image {
  width: 100%;
  max-width: 1200px;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 30px;
}

@media (max-width: 1279px) {
  .benefits__image {
    max-width: 720px;
    aspect-ratio: 1;
  }
}

@media (max-width: 950px) {
  .benefits {
    padding: 0px 0px 100px 0px;
  }

  .benefits__image {
    max-width: 343px;
    aspect-ratio: 0.5;
  }
}
