.footer {
  width: 100%;
  max-width: 1920px;
  height: 250px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  border-top: 1px solid #e9e9e9;
}

.footer__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 40px;
}

.footer__list-item:not(:first-child) {
  padding-left: 27px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__logo {
  padding-right: 40px;
}

@media (max-width: 950px) {
  .footer {
    height: 324px;
    padding: 40px 16px 20px 16px;
  }

  .footer__list {
    height: auto;
    flex-direction: column;
    align-items: start;
  }

  .footer__list-item:not(:first-child) {
    padding-left: 0;
    padding-top: 27px;
  }
}
