.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.hero__title {
  text-align: center;
}

.hero__image-background {
  height: 362px;
  width: 100%;
  border-radius: 30px;
  position: relative;
  background-color: #8e9c78;
  margin-top: 250px;
}

.hero__image {
  position: absolute;
  top: -165px;
  left: 50%;
  translate: -50% 0;
  will-change: transform;
  animation: sliding-up 1s forwards;
}

@keyframes sliding-up {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  .hero__image {
    animation-duration: 0.001ms;
  }
}

@media (max-width: 1279px) {
  .hero__image {
    top: -80px;
  }

  .hero__image-background {
    margin-top: 140px;
  }
}

@media (max-width: 799px) {
  .hero__image-background {
    margin-top: 120px;
  }
}
