.logo-cloud {
  padding: 50px 0px;
}

.logo-cloud__title {
  font-size: 0.9rem;
}

.logo-cloud__logo-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 30px;
  gap: 30px;
}

.logo-cloud__logo {
  width: 114px;
  height: 44px;
  aspect-ratio: 16/9;
}
