.navbar {
  width: 100%;
  max-width: 1920px;
  height: 148px;
  z-index: 1000;
}

.navbar-burger {
  display: none;
}

.navbar__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 40px 0px 40px;
}

.navbar__logo {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;
}

.navbar__menu {
  list-style-type: none;
  width: 403px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(30px);
}

.navbar__link {
  width: 127px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #485c11;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.navbar__arrow {
  padding-left: 3px;
  will-change: transform;
  transition: transform 0.4s ease-in-out;
}

@media (hover: hover) {
  .navbar__link:hover {
    background-color: #8e9c78;
  }

  .navbar__link:hover .navbar__arrow {
    transform: scale(1.2, 0.8) translateY(-10px);
  }
}

@media (max-width: 799px) {
  .navbar {
    position: fixed;
    top: 0;
    height: 78px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .navbar__nav {
    padding: 20px 20px 0px 20px;
  }

  .navbar-burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: relative;
    cursor: pointer;
  }

  .navbar-burger__open,
  .navbar-burger__close {
    position: absolute;
  }

  .navbar-burger__open {
    pointer-events: auto;
  }

  .navbar-burger__close {
    display: none;
    pointer-events: none;
  }

  .navbar-burger__open--hidden {
    display: none;
    pointer-events: none;
  }

  .navbar-burger__close--visible {
    display: block;
    pointer-events: auto;
  }

  .navbar__wrapper {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0px;
    padding: 25px 20px 0px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition:
      height 0.4s ease,
      opacity 0.1s ease;
  }

  .mobile-menu--visible {
    height: 458px;
    opacity: 1;
    pointer-events: auto;
  }

  .navbar__menu {
    width: 100%;
    height: auto;
    list-style-type: none;
    position: initial;
    left: 0;
    background: unset;
    backdrop-filter: unset;
    flex-direction: column;
    transform: none;
  }

  .navbar__item {
    width: 100%;
    padding: 30px 0px;
    border-top: 1px solid #e9e9e9;
  }

  .navbar__link {
    margin-top: 25px;
  }
}
