.specifications {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.specifications__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 40px;
}

.specifications__subtitle,
.specifications__paragraph {
  text-align: center;
}

.table {
  padding-top: 20px;
  border-collapse: separate;
  border-spacing: 0;
}

.table__colgroup {
  width: 400px;
}

.table__header {
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.08em;
  padding: 40px 0px;
  border-bottom: 1px solid #929292;
}

.table__header:nth-child(1) {
  font-size: 1.5rem;
  font-family: 'DM Sans', system-ui, sans-serif;
  border: 1px solid #e9e9e9;
  border-bottom: 1px solid #929292;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.table__header:nth-child(2) {
  font-size: 1.3rem;
  font-family: 'Rethink Sans', system-ui, sans-serif;
  color: #6f6f6f;
}

.table__header:nth-child(3) {
  font-size: 1.3rem;
  font-family: 'Reddit Mono', system-ui, sans-serif;
  color: #6f6f6f;
}

.table__cell {
  padding: 30px;
  font-family: 'Roboto Mono', system-ui, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 140%;
  letter-spacing: -0.01em;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.table__row .table__cell:first-child {
  border-left: 1px solid #e9e9e9;
}

.table__row .table__cell:last-child {
  border-right: none;
}

.table__row:last-child .table__cell:first-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.table__row:last-child .table__cell:last-child {
  border-bottom: none;
}

.table__check,
.table__close {
  padding-right: 20px;
}

@media (max-width: 1279px) {
  .table-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table {
    display: table;
    table-layout: fixed;
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
  }
}

@media (max-width: 799px) {
  .specifications__header {
    padding: 80px 0px;
  }

  .table {
    width: 720px;
    min-width: 720px;
  }

  .table__colgroup {
    width: 240px;
  }

  .table__cell {
    padding: 30px 20px 30px 10px;
    font-size: 0.8rem;
    letter-spacing: -0.01em;
  }

  .table__check,
  .table__close {
    padding-right: 10px;
  }
}
