.testimonial {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.testimonial h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.quoteContainer {
  height: auto;
  display: flex;
  align-items: center;
  padding: 0 0 0 50px;
  border-top: 1px solid #e9e9e9;
}

.quoteText {
  font-family: 'Crimson Text', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

.quote footer {
  padding-top: 50px;
}

.quote footer p:first-child {
  font-family: 'DM Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
}

.quote footer p:last-child {
  padding-top: 10px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 0.7rem;
  font-weight: normal;
  color: #485c11;
}

@media (max-width: 1279px) {
  .testimonial {
    flex-direction: column;
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }

  .quoteContainer {
    margin-top: 40px;
    padding-top: 50px;
    padding-left: 0;
  }
}

@media (max-width: 799px) {
  .quoteText {
    font-size: 1.5rem;
  }
  .quoteText,
  .quote footer p {
    margin: 0;
  }
}
