.header {
  height: 148px;
  font-family: 'DM Sans', sans-serif;
}

.navContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
}

.navLogo,
.navMenuItem a {
  color: black;
}

.navMenuItem a,
.learnMoreLink {
  font-size: 0.8rem;
  font-weight: bold;
}

.navLogo {
  font-size: 1.8rem;
  font-weight: normal;
}

.burgerMenu {
  display: none;
}

.navMenuContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.navMenu {
  width: 400px;
  height: 60px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
}

.navMenuItem:not(:first-child) {
  padding-left: 10px;
}

.learnMore {
  width: 127px;
  height: 48px;
  background-color: #485c11;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.learnMoreLink {
  color: white;
}

.learnMore img {
  padding-left: 3px;
  transition: transform 0.3s ease;
}

.learnMore:hover {
  opacity: 70%;
}

.learnMore:hover img {
  transform: translateY(-5px);
}

@media (max-width: 1279px) {
  .navContainer {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 799px) {
  .header {
    height: auto;
    margin-bottom: 110px;
  }
  .navContainer {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    max-width: none;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .mobileMenuContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 78px;
    z-index: 50;
  }
  .navMenuContainer {
    position: initial;
    left: 0;
    transform: none;
  }
  .navMenu {
    width: 100%;
    height: auto;
    backdrop-filter: unset;
    background: unset;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .navMenuItem:not(:first-child) {
    padding-left: 0;
  }
  .navMenuItem {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .mobileMenu {
    width: 100vw;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
    top: 78px;
    left: 0;
    padding: 0 30px;
    background-color: white;
    z-index: 40;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .mobileMenuOpen {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .learnMore {
    margin-bottom: 32px;
  }
  .burgerMenu {
    display: block;
  }
}
