.header {
  height: 148px;
  font-family: 'DM Sans', sans-serif;
  z-index: 1000;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}

.navLogo {
  font-size: 1.8rem;
  font-weight: normal;
  color: black;
}

.burgerMenu {
  display: none;
}

.navMenuContainer {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(30px);
  border-radius: 30px;
}

.navMenu {
  display: flex;
  width: 400px;
  height: 60px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.navMenuItem:not(:first-child) {
  padding-left: 10px;
}

.navMenuItem a,
.learnMoreLink a {
  font-size: 0.8rem;
  font-weight: bold;
}

.navMenuItem a {
  color: black;
}

.learnMoreLink {
  width: 127px;
  height: 48px;
  background-color: #485c11;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.learnMoreLink a {
  color: white;
}

.learnMoreLink img {
  padding-left: 3px;
  transition: transform 0.3s ease;
}

.learnMoreLink:hover {
  opacity: 70%;
}

.learnMoreLink:hover img {
  transform: translateY(-5px);
}

@media (max-width: 1279px) {
  .navbar {
    margin: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 799px) {
  p {
    margin-top: 120px;
  }

  .header {
    height: 78px;
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .mobileHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 20px 0 20px;
  }

  .burgerMenu {
    display: block;
    width: 32px;
    height: 32px;
    position: relative;
    cursor: pointer;
  }

  .burgerIcon {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    transition: opacity 0.3s ease;
  }

  .burgerIconOpen {
    opacity: 1;
  }

  .burgerIconClose {
    opacity: 0;
  }

  .navbar {
    max-width: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .navMenuContainer {
    position: initial;
    transform: none;
    margin-top: 50px;
    background: unset;
    backdrop-filter: unset;
    border-radius: 0;
  }

  .mobileMenuContainer {
    width: 100%;
    background-color: white;
    padding: 8px 20px 32px 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .navMenu {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .navMenuItem:not(:first-child) {
    padding-left: 0;
  }

  .navMenuItem {
    width: 100%;
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }

  .learnMoreLink {
    margin-top: 50px;
  }

  .mobileMenuOpen {
    opacity: 1;
    visibility: visible;
    transform: translateY(-5px);
    pointer-events: auto;
  }
}
