@font-face {
  font-family: 'Crimson Text';
  src: url(./assets/fonts/CrimsonText-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url(./assets/fonts/DMSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url(./assets/fonts/RobotoMono-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Crimson Text', system-ui, sans-serif;
}

.main-container {
  padding: 0px 40px;
}

.title {
  font-family: 'Crimson Text', system-ui, sans-serif;
  font-weight: 400;
}

.title--display {
  font-size: clamp(4.7rem, 10vw, 10rem);
  line-height: 90%;
  letter-spacing: -0.0425em;
}

.title--xl {
  font-size: clamp(3.1rem, 10vw, 7rem);
  line-height: 90%;
  letter-spacing: -0.03em;
}

.title--l {
  font-size: clamp(2rem, 10vw, 2.5rem);
  line-height: 100%;
  letter-spacing: -0.04em;
}

.title--sm {
  font-size: 1.1rem;
  line-height: 90%;
  letter-spacing: -0.03em;
}

.paragraph {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.005em;
}

.link {
  font-family: 'DM Sans', system-ui, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 140%;
  letter-spacing: -0.025em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link--primary {
  color: black;
}

.link--secondary {
  color: white;
}

.caption {
  font-family: 'Roboto Mono', system-ui, sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.01em;
  background-color: #485c11;
}

@media (hover: hover) {
  .link--hovered:hover {
    color: rgb(96, 96, 96);
  }
}

@media (max-width: 799px) {
  .main-container {
    margin-top: 120px;
    padding: 0px 16px;
  }
}
